<!DOCTYPE html>
<html xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

</head>
<body>
<div id="app">
    <v-app id="inspire">
        <v-content class="gray lighten-1">
            <v-container
                    fluid
                    fill-height
            >
                <v-snackbar
                        v-model="snackbar"
                        left
                        color="red"
                >
                    {{ text }}
                </v-snackbar>

                <v-layout
                        align-center
                        justify-center
                >
                    <v-flex
                            xs10
                            sm4
                            md2
                    >
                        <v-card class="elevation-8 mb-4">
                            <v-toolbar
                                    color="primary"
                                    dark
                                    flat
                            >
                                <v-toolbar-title>iFood</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-tooltip top>
                                    <template v-slot:activator="{ on }">
                                        <v-btn
                                                icon
                                                large
                                                href="#"
                                                target="_blank"
                                                v-on="on"
                                        >
                                            <v-icon>smartphone</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Play Market</span>
                                </v-tooltip>
                            </v-toolbar>
                        </v-card>

                        <v-card class="elevation-8 mb-4">
                            <v-card-text>
                                <div class="text-center mb-4">
                                    <v-btn
                                            color="primary"
                                            block
                                            href="/oauth2/authorization/google"
                                            disabled
                                    >
                                        Sign in with Google
                                    </v-btn>
                                </div>
                                <v-btn block disabled>
                                    Sign in with Facebook
                                </v-btn>

                            </v-card-text>
                        </v-card>

                        <v-card class="elevation-8">
                            <v-card-text>
                                <form name="login" action="login" method="POST">
                                    <v-text-field
                                            name='username'
                                            prepend-icon="account_circle"
                                            label="Name"
                                    ></v-text-field>
                                    <v-text-field
                                            name='password'
                                            prepend-icon="visibility"
                                            label="Password"
                                            type="password"
                                    ></v-text-field>
                                    <v-btn
                                            name="submit"
                                            color="primary"
                                            block
                                            type="submit"
                                    >
                                        Login
                                    </v-btn>
                                </form>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
<script>
    let router = new VueRouter({
        mode: 'history',
        routes: []
    });

    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        router,
        mounted(){
            if(this.$route.query.error)
                this.snackbar = true
        },
        data: {
            snackbar: false,
            text: 'Not correct credentials',
        },
    })
</script>
</body>
</html>